/* Login Styles */
.homelogin {
    min-height: 100vh;
    background-color: white;
}

.logins {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 248, 253);
    height: 1200px;
    width: 100%;
    overflow: hidden;
    margin-top: -128px;
}

.loginarea {
    position: relative;
    height: 800px;
    width: 35%;
    background: white;
}

.form-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-info input,
button {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.loginarea h1,
p,
input,
label {
    margin-top: 50px;
}

.loginarea h1 {
    text-align: center;
}

.checks {
    text-align: center;
}

#name {
    padding: 20px;
}

#email {
    padding: 20px;
}

#password {
    padding: 20px;
}

.form-info button {
    padding: 20px;
    border: none;
    background-color: red;
    color: white;
}

.checks span {
    color: red;
    font-weight: 500;
}

#terms {
    margin-right: 10px;
}

.loginarea {
    width: 40%;
    height: 750px;
}

.loginimg img {
    height: 740px;
    width: 600px;
}

.loginhead {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
}

@media screen and (max-width: 1700px) {
    .loginarea {
        width: 20%;
        height: 750px;
    }

    .loginimg img {
        width: 500px;
        height: 750px;
    }
}

@media screen and (max-width: 1600px) {
    .loginarea {
        width: 45%;
        height: 700px;
    }

    .loginimg img {
        width: 450px;
        height: 700px;
    }
}

@media screen and (max-width: 1500px) {
    .loginarea {
        width: 50%;
        height: 650px;
    }

    .loginimg img {
        width: 400px;
        height: 650px;
    }
}

@media screen and (max-width: 1200px) {
    .loginarea {
        width: 55%;
        height: 600px;
    }

    .loginimg img {
        width: 350px;
        height: 600px;
    }
}

@media screen and (max-width: 1100px) {
    .loginarea {
        width: 50%;
        height: 550px;
    }

    .loginimg img {
        width: 300px;
        height: 550px;
    }
}

@media screen and (max-width: 1000px) {
    .loginarea {
        width: 50%;
        height: 500px;
    }

    .loginimg img {
        display: none;
    }

    .login {
        margin-top: 0;
    }
}