.options {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 200px;
    animation-name: infiniteupdown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;

}

.poll {
    min-height: 100vh;
    text-align: center;
    background-color: antiquewhite;
    position: relative;
    top: -125px
}



.options button {

    padding: 20px;
    border-radius: 10px;
    background-color: red;
    color: white;
    height: 70px;
    width: 200px;
    font-size: 1.5rem;
    text-align: center;
}

.options p {
    font-size: 3rem;
    font-weight: 500;
}

@keyframes infiniteupdown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}