.hero {
    overflow-y: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    position: relative;
    top: -130px;
}


.hero h1 {
    font-weight: 500;
    margin-bottom: -20pxpx;
}

.left {
    margin-top: 80px;
    margin-left: 50px;
}



.left-text {
    display: flex;
    align-items: center;
}

.left-text p {
    font-size: 90px;
    font-weight: 500;
    margin-right: 10px;
    margin-top: 10px;
}

.left-text img {
    height: 45px;
    position: relative;
    margin-top: 35px;
}

.para1 {
    font-size: 77px;
    font-weight: 500;
    margin: 0px;
    position: relative;
    top: -15px;
}

.para2 {
    font-size: 65px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0px;
    position: relative;
    top: -30px;
}

.colbut {
    border-radius: 70px;
    padding: 20px;
    background: red;
    color: white;
    font-size: 20px;
    margin-left: -6px;
}

.colbut img {
    height: 15px;
    width: 20px;
    margin-left: 20px;
}

.right {
    margin-top: 40px;
    margin-left: 400px;
}


.right img {
    height: 750px;
    width: 500px
}

.back-video {
    height: 900px;
    width: 700px;
    margin-top: 10px;
    margin-right: 50px;
    position: relative;
}

/* Media query for window size <= 1500px */
@media (max-width: 1500px) {
    .left {
        margin-top: 80px;
        margin-left: 30px;
    }

    .left-text p {
        font-size: 60px;
        margin-right: 5px;
    }

    .para1,
    .para2 {
        font-size: 60px;
        top: 0;
    }

    .colbut {
        font-size: 16px;
        padding: 15px;
    }

    .colbut img {
        height: 12px;
        width: 16px;
        margin-left: 15px;
    }

    .right {
        margin-top: 40px;
        margin-left: 200px;
    }

    .right img {
        height: 550px;
        width: 400px
    }

    .back-video {
        height: 600px;
        width: 500px;
        margin-right: 20px;
    }
}

/* Media query for window size <= 1300px and >= 1096px */
@media (max-width: 1300px) and (min-width: 1096px) {
    .left {
        margin-top: 80px;
        margin-left: 20px;
    }

    .left-text p {
        font-size: 50px;
    }

    .para1,
    .para2 {
        font-size: 50px;
    }

    .colbut {
        font-size: 14px;
        padding: 12px;
    }

    .colbut img {
        height: 10px;
        width: 14px;
        margin-left: 10px;
    }

    .right {
        margin-top: 40px;
        margin-left: 100px;
    }



    .right img {
        height: 450px;
        width: 300px
    }

    .back-video {
        height: 500px;
        width: 400px;
        margin-right: 10px;
    }
}

/* Media query for window size <= 1096px and >= 990px */
@media (max-width: 1096px) and (min-width: 990px) {
    .left {
        margin-top: 40px;
        margin-left: 10px;
    }

    .left-text p {
        font-size: 40px;
    }

    .para1,
    .para2 {
        font-size: 40px;
    }

    .colbut {
        font-size: 12px;
        padding: 10px;
    }

    .colbut img {
        height: 8px;
        width: 12px;
        margin-left: 5px;
    }

    .right {
        margin-top: 40px;
        margin-left: 50px;
    }

    .right img {
        height: 450px;
        width: 300px
    }


    .back-video {
        height: 400px;
        width: 300px;
    }
}

/* Media query for window size <= 990px */
@media (max-width: 990px) {
    .hero {
        flex-direction: column;
        align-items: center;
        top: 0;
    }

    .left {
        margin-left: 0;
        text-align: center;
    }

    .left-text {
        flex-direction: column;
        align-items: center;
    }

    .left-text p {
        font-size: 35px;
    }

    .left-text img {
        height: 35px;
        /* Adjusted */
        width: 35px;
        /* Adjusted */
        margin: 10px 0;
    }

    .para1,
    .para2 {
        font-size: 35px;
    }

    .colbut {
        font-size: 12px;
        padding: 10px;
        margin-top: 10px;
        margin-left: 0;
    }

    .colbut img {
        height: 10px;
        /* Adjusted */
        width: 12px;
        /* Adjusted */
        margin-left: 5px;
    }

    .right {
        margin-left: 0;
    }

    .back-video {
        height: 350px;
        width: 250px;
    }
}

/* Media query for window size <= 768px */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: flex-start;
    }

    .left {
        margin-left: 0;
        margin-top: 20px;
    }

    .left-text {
        flex-direction: flex-start;
        align-items: flex-start;
    }

    .left-text p {
        font-size: 30px;
    }

    .left-text img {
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }

    .para1,
    .para2 {
        font-size: 30px;
    }

    .colbut {
        font-size: 10px;
        padding: 8px;
    }

    .colbut img {
        height: 8px;
        width: 10px;
        margin-left: 5px;
    }

    .right {
        margin-left: 0;
    }

    .back-video {
        height: 300px;
        width: 250px;
    }
}